/*styles to form visual understanding*/

body {
    background-color: bisque;
}

.container {
    background-color: white;
    height: 718px;
    width: 375px;
}

nav {
    background-color: darkgray;
    display: flex;
    
}

#logo {
    background-color: ivory;
    border: solid;
}

#burger {
    background-color: lavenderblush;
    border: dotted;
}

h1 {
    background-color: whitesmoke;
}

ul {
    border: solid;
}

li {
    border: double;
}